nav {
    padding-top: 32px;

    .inner {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;


        .left {
            img {
                padding-top: 16px;
            }
        }

        .right {
            a {
                display: inline-block;
                padding-right: 40px;
                text-transform: uppercase;
            }

            .button {
                color: white;
                background-color: #fb5859;
                border-radius: 8px;
                box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.048);
                padding: 14px 40px;
                text-align: center;
            }
        }
    }
}

.hero {
    margin: 130px 0;

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            position: absolute;
            top: 140px;
            right: -60px;
            background-color: #4c60d0;
            border-top-left-radius: 140px;
            border-bottom-left-radius: 140px;
            min-width: 400px;
            min-height: 360px;
        }

        .text {
            h1 {
                font-size: 54px;
                line-height: 64px;
                font-weight: 700;
                color: black;
            }

            .buttons {
                display: flex;
                margin-top: 14px;

                .button {
                    margin-right: 10px;
                    border-radius: 4px;
                    border: 1px solid #000;
                    font-size: 12px;
                    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.048);
                    padding: 10px 16px;
                    color: black;

                    &:hover {
                        border: 1px solid #4c60d0;
                        color: #4c60d0;
                    }
                }
            }

        }

        .img-outer {
            position: relative;



        }

    }
}