.chapter {
    position: relative;
    padding: 80px 0;

    .inner {
        position: relative;
        max-width: 1200px;
        padding: 0 24px;
        margin: 0 auto;

        .text {
            max-width: 730px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0 96px 32px;

            h1 {
                font-size: 32px;
                font-weight: 500;
                color: black;
                padding-bottom: 14px;
            }
        }
    }
}


.features {
    .inner {
        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 740px;
            margin: 0 auto;

            .link {
                padding-bottom: 22px;
                border-bottom: 2px solid $grey;

                span {
                    font-weight: 500;
                }

                &.active {
                    border-bottom: 3px solid $red;
                }
            }
        }

        .link-items {
            margin-top: 64px;
            position: relative;

            .item {
                position: absolute;
                top: 0;
                left: 0;
                transition: all .5s;

                .inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .img-outer {
                        width: 100%;
                        height: 100%;
                    }

                    .text {
                        text-align: left;

                        h1 {
                            font-size: 30px;
                            font-weight: 500;
                        }

                        .button {
                            background-color: $blue;
                            color: $white;
                            text-transform: capitalize;
                        }
                    }
                }

                &.item__one {
                    opacity: 0;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 80px;
                        left: -190px;
                        background-color: #4c60d0;
                        border-top-right-radius: 140px;
                        border-bottom-right-radius: 140px;
                        min-width: 600px;
                        min-height: 360px;
                    }
                }

                &.item__two {
                    opacity: 0;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 170px;
                        right: -120px;
                        background-color: #4c60d0;
                        border-top-left-radius: 140px;
                        border-bottom-left-radius: 140px;
                        min-width: 420px;
                        min-height: 300px;
                    }

                    .inner {
                        flex-direction: row-reverse;
                    }
                }

                &.item__three {
                    opacity: 0;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 100px;
                        left: -190px;
                        background-color: #4c60d0;
                        border-top-right-radius: 140px;
                        border-bottom-right-radius: 140px;
                        min-width: 480px;
                        min-height: 320px;
                    }
                }
            }
        }
    }
}

.extensions {
    margin-top: 80vh;

    .extensions-wrapper {
        margin-top: 32px;
        display: flex;
        justify-content: space-around;

        .extension {
            box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.048);
            margin-right: 16px;
            max-width: 310px;
            border-radius: 4px;

            .content {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                padding: 24px 64px 12px;

                img {
                    padding-bottom: 22px;
                }

                .browser {
                    font-weight: 500;
                    color: black;
                    margin: 0;
                }

                .version {
                    font-size: 12px;
                    margin: 0;
                }
            }

            .cta {
                width: 100%;

                .button {
                    background-color: $blue;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 12px 32px;
                }
            }

        }

    }
}