@import "media-queries";
@import "variables";
@import "utilities";
@import "fonts";
@import "sections";
@import "hero";



html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $red; 
        cursor: pointer;
        transform: scale(1.1);
    }
}

.active {
    opacity: 1 !important;
}